@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Raleway";
  font-size: 14px;
}

body {
  background-image: url(images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.imagenes {
  background-color: hsl(228, 56%, 26%);
  height: 10rem;
  border-radius: 0.5rem;
  border-top-right-radius: 7rem;
  margin: 1rem 0rem;
  padding: 2rem;
  display: grid;
  column-gap: 1rem;
  row-gap: 2rem;
  grid-template-columns: 3.5rem 3.5rem 3.5rem;
  grid-template-rows: 3.5rem 3.5rem;
  grid-template-areas: "head head head";
}

.item1 {
  grid-area: head;
  display: grid;
  align-content: center;
}

.item2 {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.8rem;
}

.item3 {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.8rem;
}

.item4 {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.8rem;
}

.status {
  background-color: hsl(228, 56%, 26%);
  color: hsl(243, 100%, 93%);
  height: 8rem;
  border-radius: 0.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2.5rem 2.5rem 2.5rem;
  grid-template-areas: "fila1 fila1" "fila2 fila2" "fila3 fila3";
}

.span {
  display: grid;
  grid-area: fila1;
  justify-content: center;
  align-content: center;
}

.pro {
  width: 18.2rem;
  height: 1rem;
  border-radius: 0.9rem;
  background-color: hsl(229, 57%, 11%);
  padding: 0.2rem;
  display: grid;
  grid-area: fila2;
  justify-self: center;
  align-self: center;
}

.color {
  width: 13.225rem;
  height: 1rem;
  border-radius: 1rem;
  background: linear-gradient(hsl(6 100% 80%), hsl(335, 100%, 65%));
  display: grid;
  justify-content: end;
  align-content: center;
}

.punto {
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 0.4rem;
}

.span1 {
  grid-area: fila3;
  display: grid;
  justify-content: start;
  align-content: center;
}

.span2 {
  grid-area: fila3;
  display: grid;
  justify-content: end;
  align-content: center;
}

.status1 {
  background-color: white;
  position: relative;
  bottom: -1rem;
  left: 3.8rem;
  width: 11rem;
  height: 4.6rem;
  border-radius: 0.5rem;
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto auto;
  grid-template-rows: 4.6rem;
}

.number {
  font-size: 35px;
  color: hsl(229, 57%, 11%);
  display: grid;
  justify-content: end;
  align-content: center;
}

.texto {
  color: hsl(229, 7%, 55%);
  display: grid;
  justify-content: start;
  align-content: center;
  font-size: 12px;
}

@media (min-width: 780px) {
  body {
    background-image: url(images/bg-desktop.png);
    background-color: hsl(229, 57%, 11%);
    background-size: contain;
    background-position: bottom;
  }

  .container {
    display: grid;
    column-gap: 0.7rem;
    grid-template-columns: auto auto;
    grid-template-areas: "area 1" "area2";
    justify-content: center;
    align-items: start;
  }

  .imagenes {
    height: 11rem;
    width: 22rem;
    border-radius: 0.8rem;
    border-top-right-radius: 7rem;
    display: grid;
    align-content: center;
    grid-area: area 1;
    position: relative;
    bottom: 3.2rem;
  }

  .status {
    height: 7rem;
    width: 30rem;
    border-radius: 0.8rem;
    display: grid;
    grid-area: area2;
    position: relative;
    bottom: -1.8rem;
  }

  .span {
    justify-content: start;
  }

  .pro {
    width: 30.2rem;
    height: 1rem;
  }

  .color {
    width: 25.225rem;
    height: 1rem;
  }

  .status1 {
    bottom: 12.5rem;
    left: 18.5rem;
  }

  .triangulo {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent; /* La mitad del ancho de la base */
    border-right: 1rem solid white; /* La mitad del ancho de la base */
    border-top: 1rem solid white;
    border-bottom: 1rem solid transparent;
    position: relative;
    bottom: 0.5rem;
    left: 9rem;
  }
}

/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)          blanco
- Grayish Blue: hsl(229, 7%, 55%)         gris
- Dark Blue: hsl(228, 56%, 26%)           azul
- Very Dark Blue: hsl(229, 57%, 11%)      azul oscuro

## Typography

### Body Copy

- Font size: 14px

### Font

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700 */
